/*-- scss:defaults --*/
/* Font families */
@import url(https://fonts.bunny.net/css?family=noto-sans:400,400i,800,800i|pt-sans-caption:400,700);

$base-font: "Noto Sans", sans-serif;
$heading-font: "PT Sans Caption", sans-serif;
$orange: #ff9400;
$blue: #009cff;
$black: #2d2316;
$white: #d7e5ee;

$body-bg: lighten($white, 20%);
$body-font-color: $black;
$font-family-sans-serif: $base-font;
$presentation-heading-font: $heading-font;
$presentation-heading-color: $black;
$heading-letter-spacing: 0.001em;

.slide-menu-button {
  display: none;
}

.footer {
  color: $blue !important;
}

.reveal .progress {
  color: $orange !important;
  height: 7px;
}

.reveal .slide-number {
  color: $orange !important;
}

.reveal .slide-logo {
  max-height: 4.2rem !important;
}

.center-my-slide {
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.reveal blockquote {
  color: darken($orange, 10%) !important;
  font-weight: bold !important;
}

strong {
  color: $orange;
}

reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  letter-spacing: $heading-letter-spacing !important;
}

/*-- scss:rules --*/
.accent-color {
  color: $orange;
}

.accent-light-color {
  color: lighten($orange, 10%);
}
